Repository RedMadRobot/frontend-robopractice-test-task: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run style

.lintstagedrc:

{
  "*.js": "npm run eslint",
  "*.scss": "npm run style"
}

init: create init files
  package-lock.json
  package.json
  src/app/index.js
  src/app/table/index.js
  src/index.js
  src/init.jsx
  src/routes.js
Due: npm run eslint

feat: store redux
  package-lock.json
  package.json
  src/init.jsx
  src/store/index.js
  src/store/usersSlice.js
Due: npm run eslint

feat: reducer users
  package-lock.json
  package.json
  src/api/getUsers.js
  src/app/index.js
  src/app/table/index.js
  src/index.js
  src/init.js
  src/selectors.js
  src/store/daysSlice.js
  src/store/index.js
Due: npm run eslint

first commit
  .eslintrc.cjs
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  server/index.js
  src/app/index.js
  src/app/table.js
  src/helpers/getTime.js
  src/img/arrow_downward.svg
  src/img/arrow_upward.svg
  src/img/search.svg
  src/img/t-600.png
  src/index.js
  src/scrollStyle.css
  src/store/index.js
  src/store/usersSlice.js
  src/style.css
Due: npm run eslint

feat: add improvements
  src/Api/index.ts
  src/components/business/App/App.tsx
  src/components/ui/Search/Search.tsx
  src/components/ui/Search/types.ts
  src/components/ui/Table/Table.tsx
  src/service/index.ts
  src/utils/constants.ts
  src/utils/index.ts
Due: none

refactor: decomposed code
  src/components/ui/Table/Table.tsx
  src/service/User.ts
  src/utils/constants.ts
Due: none

feat: add filter
  src/components/business/App/App.tsx
  src/types/types.ts
Due: none

fix: change bug
  src/components/business/App/App.tsx
Due: none

feat: fill missed days
  src/app/index.js
  src/app/table/index.js
Due: npm run eslint

configured typesipt and webpack
  dist/bundle.js
  dist/index.html
  package-lock.json
  package.json
  src/App.tsx
  src/app/index.js
  src/components/Label.tsx
  src/index.css
  src/index.js
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.js
  tsconfig.json
  webpack.config.js
Due: npm run eslint

feat: add null elements
  src/components/ui/Row/Row.tsx
  src/components/ui/Row/StyledComponents.tsx
  src/components/ui/Table/StyledComponents.tsx
  src/components/ui/Table/Table.tsx
  src/components/ui/Table/tst.css
  src/service/User.ts
  src/types/types.ts
  src/utils/getDifferenceTimes.ts
Due: none

feat: add getCountTimes function
  src/components/ui/Row/Row.tsx
  src/utils/getCountTimes.ts
  src/utils/index.ts
Due: none

refactor: change Table component
  src/components/ui/Table/Table.tsx
Due: none

refactor: clear code
  src/components/ui/Table/StyledComponents.tsx
  src/components/ui/Table/Table.tsx
  src/components/ui/Table/tst.css
Due: none

refacor: clear code
  src/Variables.module.scss
  src/components/business/App/StyledComponents.tsx
  src/components/ui/Row/StyledComponents.tsx
  src/components/ui/Table/StyledComponents.tsx
Due: npm run style

refactor: clear code
  src/components/business/App/StyledComponents.tsx
  src/components/ui/Table/StyledComponents.tsx
Due: none

feat; add resize cell
  src/components/ui/Row/Row.tsx
  src/components/ui/Row/StyledComponents.tsx
Due: none

feat: add Limit component
  src/components/business/App/App.tsx
  src/components/index.ts
  src/components/ui/Limit/Limit.tsx
  src/components/ui/Limit/index.ts
  src/components/ui/Limit/types.ts
Due: none

feat: add style for Limit component
  src/components/ui/Limit/Limit.tsx
  src/components/ui/Limit/StyledComponents.tsx
  src/components/ui/Pagination/Pagination.tsx
  src/components/ui/Pagination/index.ts
Due: none

feat: add improvements
  src/components/business/App/App.tsx
  src/components/business/App/StyledComponents.tsx
  src/components/ui/Limit/Limit.tsx
  src/components/ui/Limit/StyledComponents.tsx
  src/components/ui/Pagination/Pagination.tsx
  src/components/ui/Pagination/StyledComponents.tsx
  src/image/left-arrow.svg
  src/image/right-arrow.svg
Due: none

feat: add state for page
  src/components/business/App/App.tsx
  src/components/ui/Pagination/Pagination.tsx
  src/components/ui/Pagination/types.ts
Due: none

feat: add logic pagination
  src/components/business/App/App.tsx
  src/components/business/App/StyledComponents.tsx
  src/components/ui/Limit/Limit.tsx
  src/components/ui/Limit/StyledComponents.tsx
Due: none

refact: change types
  src/components/business/App/App.tsx
  src/components/ui/Limit/types.ts
Due: none

refactor: fix pagination
  src/components/business/App/App.tsx
Due: none

refactor: clear code
  src/components/business/App/App.tsx
  src/components/ui/Limit/types.ts
Due: none

fix: change error pagination
  src/components/business/App/App.tsx
  src/components/ui/Pagination/Pagination.tsx
  src/components/ui/Pagination/types.ts
Due: none

refactor: decomposed code
  src/components/business/App/App.tsx
  src/utils/filteredData.ts
  src/utils/index.ts
Due: none

feat: add Readme
  README.md
Due: none

style: change Readme
  README.md
Due: none

start project
  package-lock.json
  package.json
  src/app/index.js
  src/components/Api/Api.js
  src/components/Table/Table.css
  src/components/Table/Table.js
  src/index.js
Due: npm run eslint

get array from api
  package-lock.json
  package.json
  server/index.js
  src/app/index.js
  src/components/Api/Api.js
  src/components/Data.js
  src/components/Table/Table.js
  src/components/UsersTable/Table.css
  src/components/UsersTable/UsersTable.js
Due: npm run eslint

Апи, таблица, поиск. Остались стили
  .env
  package-lock.json
  package.json
  server/data.json
  server/index.js
  src/app/components/UserSelect.js
  src/app/components/UserTable.js
  src/app/dataMapper.js
  src/app/dataService.js
  src/app/index.js
  src/index.js
Due: npm run eslint

handlerUserData function complete
  package-lock.json
  package.json
  src/app/index.js
  src/components/Api/Api.js
  src/components/ColumnGenerator.js
  src/components/HandledUsersData.js
  src/components/UsersTable/UsersTable.js
  src/components/UsersTable/utils/constants.js
Due: npm run eslint

тестовое задание
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/app/index.js
  src/assets/spinner.gif
  src/components/Content.tsx
  src/components/Loading.tsx
  src/components/Pagintation.tsx
  src/components/Search.tsx
  src/components/Table.tsx
  src/components/TableRowBody.tsx
  src/components/TableRowHead.tsx
  src/components/Tracker.tsx
  src/index.d.ts
  src/index.js
  src/index.scss
  src/index.tsx
  src/redux/pagination/paginationSelectors.ts
  src/redux/pagination/paginationSlice.tsx
  src/redux/store.tsx
  src/redux/types.ts
  src/redux/users/asyncAction.tsx
  src/redux/users/usersSelectors.ts
  src/redux/users/usersSlice.tsx
  webpack.config.js
  yarn.lock
Due: npm run eslint, npm run style

cell data render
  package-lock.json
  package.json
  src/app/index.js
  src/components/ColumnGenerator.js
  src/components/HandledUsersData.js
  src/components/UsersTable/Table.css
  src/components/UsersTable/UsersTable.css
  src/components/UsersTable/UsersTable.js
Due: npm run eslint

немного разнесла код
  src/app/components/UserTable.js
  src/app/index.js
  src/app/styles/main.css
  src/app/utils/dataMapper.js
  src/app/utils/dataService.js
Due: npm run eslint

feat: all fanction
  package-lock.json
  package.json
  src/app/index.js
  src/app/table/index.js
  src/index.js
  src/init.js
  src/selectors.js
  src/store/daysSlice.js
  src/store/index.js
  src/store/uiSlice.js
  src/store/usersSlice.js
Due: npm run eslint
