Repository RedMadRobot/frontend-robopractice-test-task: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run style

.lintstagedrc:

{
  "*.js": "npm run eslint",
  "*.scss": "npm run style"
}

major task done
  package-lock.json
  package.json
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  server/index.js
  src/app/index.js
  src/app/index.jsx
  src/components/Table.jsx
  src/components/TableCell.jsx
  src/components/TableRow.jsx
  src/index.js
Due: npm run eslint

added search and sticky users column and monthly total column
  src/app/index.jsx
  src/components/Table.jsx
  src/components/TableCell.jsx
  src/components/TableRow.jsx
Due: none

init project
  .editorconfig
  README.md
  example1.png
  example2.png
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/data.json
  server/src/index.js
  src/app/index.js
  src/index.js
Due: npm run eslint

feat: add helpers
  frontend/src/utils/helpers/table.helpers.ts
  frontend/src/utils/helpers/time.helpers.ts
Due: none

feat: general project files
  .gitignore
  README.md
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/tsconfig.json
  server/package-lock.json
  server/package.json
  server/src/index.js
Due: npm run eslint

feat: add basic interfaces
  frontend/src/types/IUser.ts
  frontend/src/types/IUserRaw.ts
Due: none

feat: basic api
  frontend/src/api/api.ts
Due: none

feat: react index file
  frontend/src/index.tsx
Due: none

refactor: refactor returning value
  frontend/src/api/api.ts
  frontend/src/utils/helpers/table.helpers.ts
Due: none

feat: add basic components w/o refactoring
  frontend/src/App.tsx
  frontend/src/components/ResizableTitle/ResizableTitle.scss
  frontend/src/components/ResizableTitle/ResizableTitle.tsx
  frontend/src/components/TableHeader/TableHeader.scss
  frontend/src/components/TableHeader/TableHeader.tsx
  frontend/src/components/TableMain/TableMain.scss
  frontend/src/components/TableMain/TableMain.tsx
Due: npm run style

refactor: general style changes, remove useless state
  frontend/src/App.tsx
  frontend/src/components/TableHeader/TableHeader.scss
  frontend/src/components/TableHeader/TableHeader.tsx
  frontend/src/components/TableMain/TableMain.scss
Due: npm run style

feat: add getDaysList helper
  frontend/src/utils/helpers/time.helpers.ts
Due: none

install CRA
  README.md
  example1.png
  example2.png
  package-lock.json
  package.json
  server/data.json
  server/index.js
  src/App.css
  src/App.js
  src/App.test.js
  src/app/index.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Due: npm run eslint

add Server
  README.md
  package-lock.json
  package.json
  server/data.json
  server/index.js
Due: npm run eslint

таблица с сортировкой и фиксами
  package-lock.json
  package.json
  server/index.js
  src/Api/api.js
  src/App.css
  src/App.js
  src/utils/constants.js
  src/utils/userRefact.js
Due: npm run eslint

поиск по имени
  package-lock.json
  package.json
  src/App.js
  src/components/ColumnSearch.jsx
  src/components/ResizableTitle.jsx
  src/index.css
  src/utils/userRefact.js
Due: npm run eslint

Время в часах и высота страницы
  src/App.js
  src/utils/userRefact.js
Due: npm run eslint

Привязка к высоте страницы браузера
  src/App.js
  src/utils/userRefact.js
Due: npm run eslint

refactor: clear code
  README.md
  example1.png
  example2.png
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/app/index.js
  src/index.js
Due: npm run eslint

feat: add react app
  .gitignore
  client/.gitignore
  client/index.html
  client/package-lock.json
  client/package.json
  client/public/vite.svg
  client/src/App.css
  client/src/App.tsx
  client/src/assets/react.svg
  client/src/index.css
  client/src/main.tsx
  client/src/vite-env.d.ts
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
Due: none

refactor: change structure project
  client/.npmrc
  client/.nvmrc
  client/.prettierrc
  client/index.html
  client/src/App.css
  client/src/App.tsx
  client/src/assets/react.svg
  client/src/components/business/App/App.css
  client/src/components/business/App/App.tsx
  client/src/components/business/App/index.ts
  client/src/components/index.ts
  client/src/main.tsx
  client/vite.config.ts
Due: none

feat: add path alias
  client/package-lock.json
  client/package.json
  client/src/main.tsx
  client/tsconfig.json
  client/vite.config.ts
Due: none

refactor: disabled dependencies
  client/package.json
Due: none

feat: add eslint
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/components/business/App/App.tsx
Due: none

feat: add sass/styled-component
  client/package-lock.json
  client/package.json
  client/src/Variables.module.scss
  client/src/components/business/App/App.css
  client/src/components/business/App/App.tsx
  client/src/components/business/App/StyledComponents.tsx
  client/src/index.css
  client/src/vendor/fonts.css
  client/src/vendor/fonts/Inter-Medium.woff
  client/src/vendor/fonts/Inter-Medium.woff2
  client/src/vendor/fonts/Inter-Regular.woff
  client/src/vendor/fonts/Inter-Regular.woff2
  client/src/vendor/normalize.css
Due: npm run style

feat: add husky
  client/.husky/pre-commit
  client/package-lock.json
  client/package.json
  client/src/components/business/App/App.tsx
Due: none

fix: change husky
  client/.husky/pre-commit
  client/package.json
  client/src/components/business/App/App.tsx
Due: none

refactor: change structure project
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .npmrc
  .nvmrc
  .prettierrc
  index.html
  package-lock.json
  package.json
  public/vite.svg
  server/index.js
  src/Variables.module.scss
  src/components/business/App/App.tsx
  src/components/business/App/StyledComponents.tsx
  src/components/business/App/index.ts
  src/components/index.ts
  src/index.css
  src/main.tsx
  src/vendor/fonts.css
  src/vendor/fonts/Inter-Medium.woff
  src/vendor/fonts/Inter-Medium.woff2
  src/vendor/fonts/Inter-Regular.woff
  src/vendor/fonts/Inter-Regular.woff2
  src/vendor/normalize.css
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run eslint, npm run style

feat: add logic for server
  package-lock.json
  package.json
  server/index.js
Due: npm run eslint

feat: add variables
  src/Variables.module.scss
Due: npm run style

feat: add Search component
  src/components/ui/Search/Search.tsx
  src/components/ui/Search/StyledComponents.tsx
Due: none

feat: add randomId function
  src/utils/randomId.ts
Due: none

feat: add Table component
  src/components/ui/Table/StyledComponents.tsx
  src/components/ui/Table/Table.tsx
  src/components/ui/Table/index.ts
  src/components/ui/Table/types.ts
Due: none

feat: add Row component
  src/components/ui/Row/Row.tsx
  src/components/ui/Row/index.ts
Due: none

feat: add exports
  src/components/index.ts
Due: none

feat: add getDifferenceTimes function
  src/utils/getDifferenceTimes.ts
  src/utils/index.ts
Due: none

refactor: decomposed code
  src/components/ui/Table/types.ts
  src/types/index.ts
  src/types/types.ts
Due: none

feat: add code for base components
  src/components/business/App/StyledComponents.tsx
  src/components/ui/Row/Row.tsx
  src/components/ui/Row/StyledComponents.tsx
  src/components/ui/Search/StyledComponents.tsx
  src/components/ui/Search/index.ts
  src/components/ui/Table/Table.tsx
Due: none

feat: add api
  src/Api/Api.ts
Due: none

feat: add service
  src/service/User.ts
Due: none
